about-card {
	display: block;
}

.hobby-intro {
	display: block;
}

.hobby-photo {
	max-width: 500px;
}

.hobby-figure + .hobby-figure {
	margin-top: 30px;
}

.hobby-list {
	margin-left: 40px;
	list-style: circle;
}

.favorite-photo-title {
	font-size: clamp(1.8em, 4vw, 5em);
	margin-top: 10px;
}

.favorite-photo-title ~ * {
	margin-top: 20px;
}

.about-page-nav h2 {
	font-size: clamp(1.2em, 2vw, 3em);
}