writing-card, writing-detail {
	display: block;
	line-height: 2;
	padding:  10px;
}

.blog-posts svg {
	max-width: 180px;
	display: block;
}

.left-quote {
	margin-top: 40px;
}

.right-quote {
	margin-left: 30vw;
	margin-top: 40px;
}

svg + writing-card {
	/*outline: 20px solid lime;*/
	margin-top: 20px;
}


.blog-posts p {
	max-width: 80ch;
}