@import "homepage.css";
@import "experimental.css";
@import "projects.css";
@import "about.css";
@import "writing.css";
@import "goals.css";
@import "sitemap-styles.css";
@import "style-guide.css";
@import "404.css";

@import "svgs.css";

/*gardens*/
/*@import "./project-styles/garden-1.css";
@import "./project-styles/garden-2.css";
@import "./project-styles/garden-3.css";
@import "./project-styles/garden-4.css";*/

/*@import "./project-styles/layout-garden/style.css";*/
.warning {
	margin-top: 20px;
	font-size: 1.5em;
	line-height: 1.4;
	color: inherit;
	max-width: 42ch;
}

.dev-article {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
}

.site-menu a {
	display: block;
}