#fence {
  fill: var(--moon-blue);
}

.sun ellipse {
  fill: var(--accent-color);
}

:is(.right-quote #right-rect, .left-quote #left-rect) {
  fill: var(--blue-color);
}

:is(.right-quote #right-square, .left-quote #left-square) {
  fill: var(--brown-color);
}


.experimental-svg .experimental-rect {
  fill: var(--brown-color);
}

.moon-star {
  fill: var(--accent-color);
}

.experimental-gold-accent {
  fill: var(--gold-color);
}

.experimental-brown-accent {
  fill: var(--brown-color);
}

.experimental-moon-accent {
  fill: var(--moon-blue);
}
