writing-card, writing-detail {
	display: block;
	line-height: 2;
	padding:  10px;
}

.blog-posts svg {
	max-width: 180px;
	display: block;
}

.left-quote {
	margin-top: 40px;
}

.right-quote {
	margin-left: 230px;
	margin-top: 40px;
}

svg + writing-card {
	/*outline: 20px solid lime;*/
	margin-top: 20px;
}

writing-card {
	text-align: center;
}

.blog-posts p {
	max-width: 80ch;
}

section.article {
	/*outline:  4px solid red;*/
	/*display: flex;*/
}

writing-detail picture {
	max-width: 500px;
}

writing-detail h2 + picture, writing-detail picture + p {
	margin-top: 10px;
}