@import "forms.css";

/* buttons and icons and smaller reusable bits here */

.button {
	all: unset; /* what would this do? */
	appearance: none;

	display: block;

	font-family: "Maison NB", Helvetica, Arial, sans-serif;
	font-size: .90rem;
	line-height: 1.4;

	padding: 0.5em 1em;
	background-color: var(--heading-text-color);
	color: white;
	min-width: 120px;
	text-align: center;
}



/* 
	article-card - might be something you put here?
*/
.article-card {
	:is(
		text-content, 
		text-content h1 ~ *
	) {
		margin-top: 5px;

	}

}

@media (width >= 700px) {
	:is(inner-column) {
		padding: 20px;
	/*	outline: 10px solid lime;*/
	}

	.latest inner-column {
/*		padding: unset;*/
	}
}