
body * {
	padding: 2px;
}

body inner-column {
	padding: 2px;
}

section:nth-of-type(odd) {
	background-color: rgba(0,0,0,.03);
}

picture img {
/*	opacity: 0;*/
}

picture {
	background-color: var(--shadow);
}
