/* garden 1  */
.services-list {
  display: grid;
  gap: 10px;
  justify-items: center;
  align-items: center;
  /* make it wrap, auto-filling columns*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


  max-width: 2000px;
  padding: 10px;
}

* {
/*  outline: 2px solid lime;*/
}

.services-list li {
  margin-top: 30px;
}

.services-list li:nth-child(odd) {

}

.services-list li:nth-child(even) {

}

/* media */
.service-media {
/*   width: 20vw; */
  max-width: 500px;
}

.service-media img {
  border-radius: 50%;
}

@media (min-width: 600px) {
  .service-media img {
/*     max-width: 20vw; */
  }
}