.four-o-four {
	margin-top: 40px;
/*	max-width: 800px;*/
	margin-right: auto;
	margin-left: auto;
	padding: 30px 20px 30px 20px;
}

.four-o-four h2 {
	font-size:  3em;
}

.four-o-four h2 mark {
	background: rgb(255,209,102);
	padding: 10px;
}
