body.homepage a:link {
  color:  white;
}

body.homepage a:visited {
/*  color:  gray;*/
}

body.homepage a:hover {
  color:  orange;
}

body.homepage a:active {
  color:  green;
}

.dev-name {
  font-size: clamp(1.3em, 1vw, 3em);
}

.welcome {
  margin-top: 30px;
}

.welcome inner-column {

}