.mr-projects > inner-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

design-poster inner-column > * {
/*  margin-top: 20px;*/
}

.projects h2 {
/*  color:  var(--moon-blue);*/
  font-size: 1.8em;
}

.projects h2 + picture {
  margin-top: 30px;
}

project-card picture {
  max-width: 15vw;
  max-width: 300px;
}

.projects inner-column {
  /*outline:  20px solid purple;*/
/*  max-width: 1200px;*/
}

.projects-svg {
  display: block;
}

.project-list {
  margin-top: 40px;
}

.project-list li + li {
  margin-top: 20px;
}

.projects-svg {
  display: block;
  margin-top:  30px;
/*  width: 32vw;*/
  max-width: 300px;
}

.projects p {
  max-width: 90ch;
}

.project-list picture {
  outline:  5px solid var(--moon-color);;
}

project-card {
  display:  block;
}

project-card picture + p {
  margin-top: 10px;
}

project-card a {
  display: inline-block;
  margin-right: 10px;
}

.project-card + .project-card {
  margin-top: 20px;
}

.projects a[href="https://perpetual.education"] {
  display: inline-block;
/*  color:  red;*/
}

/*project details card*/
detail-card {
  display: block;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  padding: 10px;
}

detail-card picture {
  max-width: 600px;
  width: 40vw;
}

detail-card * {
  margin-top: 10px;
}

detail-card a {
  display: block;
}

detail-card p {
  max-width: 75ch;
}


@media (min-width: 600px) {
  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 50px;
    list-style: none;
  }
  .project-list li + li {
    margin-top: unset;
  }
}


/* CSS for individual projects */

/* RLG */

/* garden 1  */
.services-list {
  display: grid;
  gap: 5px;
  justify-items: center;
  align-items: center;
  /* make it wrap, auto-filling columns*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
/*   max-width: 900px; */
/*   outline: 1px solid red; */
  max-width: 2000px;
  padding: 10px;
}

.services-list li {
  margin-top: 10px;
}

.services-list li:nth-child(odd) {

}

.services-list li:nth-child(even) {

}

/* media */
.service-media {
/*   width: 20vw; */
  max-width: 500px;
}

.service-media img {
  border-radius: 50%;
}

@media (min-width: 600px) {
  .service-media img {
/*     max-width: 20vw; */
  }
}


/* garden 2  */
/* type */
design-poster h1 {
  font-size: clamp(2em, 6vw, 6em);
}

design-posterh2 {
  font-size: clamp(1.5em, 3vw, 4em);
}

:is(design-poster .dp-metadata-list, design-poster .dp-design-datalist) {
  line-height: 1.5;
}

:is(design-poster h1, design-poster h2)::first-letter {
  text-transform: capitalize;
}

design-poster h1 + ul {
  margin-top: 10px;
}

design-poster header ~ * {
   margin-top: 50px;
}

design-poster .dp-metadata-list {
  text-transform: capitalize;
}

design-poster .dp-hex-code {
  text-transform: uppercase;
  font-weight: bolder;
}

design-poster .dp-design-datalist {
  
}

design-poster .dp-credit {
  
}

design-poster small {
/*   display: inline-block; */
  font-size: .7em;
}

design-poster p {
  margin-top: 10px;
}

design-poster .pink-dot {
  display: inline-block;
  height: 10px;
  width: 10px;

  position: relative;
  bottom: 5px;

  border-radius: 50%;
  
  background: pink;

  font-size: 1.9em;

}

design-poster .dp-inspo {
  display: inline-block;
}

design-poster .pink-dot::after {
  content: "*";
}

design-poster .dp-goals {
  max-width: 70ch;
}

/* sections */
design-poster {
  display: block;
  font-family: sans-serif;
  padding: 10px;
/*  background: #318CE7;*/
  color: white;
  min-height: 100vh;
}

design-poster inner-column {
/*  max-width: 1000px;*/
}


design-poster > inner-column {
  padding-bottom: 30vh;
}

@media (min-width: 600px) {
  design-poster .dp-prompt inner-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: 8px dotted pink;
    padding: 10px;
    min-height: 500px;
  }
  design-poster .dp-design-datalist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 80ch;
  }
  design-poster .dp-inspiration, .dp-goals {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1%;
    align-self: center;
  }
  design-poster .dp-prompt {

  }
  design-poster .dp-metadata-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    gap: 8%;
    transform: rotate(90deg);
    
/*     writing-mode: vertical-rl; */
  }
  design-poster .dp-metadata-list li {
    min-width: 50px;
  }
}


/* garden 3 */
.tsch-site-main {
  --heading-accent: rgb(179,27,27);
  font-family: "Trebuchet ms", sans-serif;
}

/*  type*/
.tsch-site-main {
  line-height: 1.5;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  
  padding-bottom: 40vh;
  background: url("https://i.ibb.co/nD9f6B5/tshci.png");
  background-repeat: no-repeat;
  background-position: center;
/*   background-position: bottom -200px right -160px; */
  background-position: bottom -200px right 10%;
}

.tsch-page-header, .tsch-history {
  padding: 5px;
}

.tsch-bookmark {
  
}

.tsch-bookmark h1 {
  font-size: 3em;
}

.tsch-history h2 {
  font-size: 1.8em;
}

.tsch-site-main h1, .tsch-site-main h1 h2 {
  line-height: 1;
}

.tsch-history {
  margin-top: 10px;
}

.tsch-dot {
  display: inline-block;
  font-size: 2em;
}

.tsch-advocate {
  margin-top: 5px;
  font-size: clamp(1.2em, 2vw, 4em);
}

/*  media*/
.jan-portrait {
  max-width: 300px;
  margin-top: 20px;
}

.bookmark svg rect {
  fill: var(--heading-accent);
}

@media (min-width: 600px) {
  .tsch-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tsch-history .tsch-bookmark {
    border-left: 8px solid var(--heading-accent);
  }
  .tsch-history h2 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    min-height: 450px;
    transform: translate(0px, 0px);
    padding: 5px;
  }
  .tsch-page-header .tsch-bookmark {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 8px solid var(--heading-accent);
  }
  .tsch-facts {
    display: flex;
    writing-mode: vertical-rl;
    line-height: 1;
    max-width: 150px;
  }
  .tsch-sub-fact  {
    /*   seems crazy...*/
    transform: rotate(90deg) translate(400px, -460%); 
  }
  .tsch-advocate {
    margin-left: 30px;
/*     min-width: 20vw; */
    max-width: 30vw;
  }
  .tsch-dot {
    transform: translate(3%, 10px);
  }
  .tsch-facts li:first-of-type {
/*     outline: 2px solid lime;   */
  }
}