/*colors*/
:root {
  --white-color: #ebebeb;
  --gold-color: #ffc81e;
  --brown-color: #af2912;
  --blue-color: #2b66a2;
}

.color-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 50ch;
}

.color-list li {
  flex-basis: 100px;

  min-height: 100px;
  min-width: 30px;
  max-width: 100px;

  margin-top: 10px;
  margin-right:  10px;

  color: initial;
  text-align: center;
}

.color-list li:first-of-type {
  background: linen;
  /* should these be variables and included after the element  */
}

.color-list li:first-of-type::after {
  --color-name: "#ebebeb"; /* not DRY! but because using the variables defined in root didnt work! */
  content: var(--color-name);
}

.color-list :nth-child(2) {
  background: var(--accent-color);
}

.color-list li:nth-child(2)::after {
/*  position: relative;*/
/*  z-index: 2;*/
/*  color: black;*/
  --color-name: "#ffc81e";
  content: var(--color-name);
}

.color-list li:nth-child(3) {
  background: var(--brown-color);
}

.color-list li:nth-child(3)::after {
  --color-name: "#af2912";
  content: var(--color-name);
}

.color-list :nth-child(4) {
  background: var(--blue-color);
}

.color-list li:nth-child(4)::after {
  --color-name: "#2b66a2";
  content: var(--color-name);
}
