/* style guide */
.shapes figure[class$="-shape"] {

}

.shapes .quotes-shape svg {
  max-width: 150px;
}

.style-guide-article section + section {
  margin-top: 30px;
/*  border-top: 3px solid lime;*/
}

.shapes figure {
/*  margin-top: 50px;*/
}

.arrow-shape {
/*  position: relative;*/
}

.style-guide-main .right-arrow {
  top: 100px;
}

.arrow-shape {
  min-height: 180px;
}

@media (min-width: 600px) {

.shapes figure[class$="-shape"] {
/*    display: flex;*/
/*    align-items: center;*/
  }
  .shapes figcaption {
/*    margin-left: 10%;*/
  }
}