#fence {
  fill: #2b66a2;
}

.sun ellipse {
  fill: var(--accent-color);
}

:is(.right-quote #right-rect, .left-quote #left-rect) {
  fill: var(--blue-color);
}

:is(.right-quote #right-square, .left-quote #left-square) {
  fill: var(--brown-color);
}


.experimental-svg .experimental-rect {
  fill: var(--brown-color);
}

.moon-star {
  fill:  var(--accent-color);
}