* {
/*  outline: 2px solid lime;*/
}

.site-menu {
  max-width: 40ch;
/*  max-width: 20ch;*/
}

.site-menu a {
/*  outline: 2px solid red;*/
  margin-top: 20px;
}

.site-menu a, .about-page-nav a {
  display: block;
  /*  max-width: ;*/
/*  outline: 1px solid lime;*/
  max-width: 100px;
  margin-right: 5px;
}

.other-links {
	display: flex;
  flex-direction: row;
  gap: 10px;
}