/*setup*/
@import "reset.css";
@import "colors.css";
@import "setup.css";
@import "typography.css";

/*themes*/
@import "themes.css";
@import "dark-theme.css";
@import "nav.css";


body {
  padding-bottom:  20vh;
}

/*page bodys*/
body.homepage, body.experimental-body {
/*  background:  linen;*/
}

.home-main h1 {
  position: relative;
  left: 10px;
}
body.writing-body {
  /*background: linen;*/
}

inner-column  {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  /*max-width: 600px;*/
  padding: 10px;
  letter-spacing: 0.03em;
}

.blog-list {
  align-self: flex-end;
}


/*SVGs*/
.construction {
  max-width: 400px;
  margin-top: 10px;
}

.logo {
  max-width:  50px;
  margin:  5px;
}

/*.green-rect {
  position: absolute;
  top: 350px;
  z-index:  -1;
  fill:  rgba(0,100,0, .5);
}
*/

.shy-sun {
  max-width: 600px;
  margin-right: 10px;
}

.experimental-svg {
  width: 30vw;
  max-width: 800px;
  margin-top: 40px;
}

li ul {
  margin-left:  20px;
}



/*theme changer*/
#theme-change, #theme-change option {
  background-color: inherit;
  color: inherit;
}

/*night theme*/
.night-theme {
  background: black;
  color: white;
}

.bauhaus-theme {
  background: maroon;
  color: lightslategray;
}

@media(min-width: 700px) {
  .writing-area inner-column {
    display: flex;
    outline: 10px solid lime;
    /*justify-content: space-between;*/
  }
  .welcome inner-column {
    display: flex;
    flex-direction: row;
/*    justify-content: space-between;*/
  }
  .welcome h2:first-of-type {
    position: relative;
    bottom: -8px;
    writing-mode: vertical-rl;
/*    transform: rotate(180deg);*/

  }
  .chips-and-guac {
    position: absolute;
    top: 550px;
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 345px;*/
    left:  60vw;
    z-index: -1;
  }
  .lollypop {
    align-self: flex-end;
  }
  /*.blog-list {
    position: absolute;
    min-width: 550px;
    top:  620px;
    transform: rotate(-20deg);
    right: 10%;
    flex-basis: 500px;
  }*/
  .role {
    transform: rotate(90deg) translate(-70px, 30px);
  }
  .welcome inner-column, .homepage header inner-column, 
  .dev-article aside inner-column {
    /*max-width: 900px;*/
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
  }
  .projects-svg {
    margin-top: 120px;
  }
}

@media(min-width: 900px) {
  .green-rect {
    fill: rgba(219,25,0, .7);
    transform:  rotate(-20deg) translate(0px, 10px);
  }
}



