/*setup*/
@import "reset.css";
@import "colors.css";
@import "setup.css";
@import "typography.css";

/*themes*/
@import "themes.css";
@import "nav.css";

/*pages*/
@import "./pages-styles/style.css";

body {
  padding-bottom:  20vh;
}

/*page bodys*/
body.homepage, body.experimental-body {
}

.home-main h1 {
}
body.writing-body {
  /*background: linen;*/
}

inner-column  {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  /*max-width: 600px;*/
  padding: 10px;
  letter-spacing: 0.03em;
}

.blog-list {
  align-self: flex-end;
}

.logo {
  max-width:  50px;
  margin:  5px;
}

li ul {
  margin-left:  20px;
}

/*theme changer*/
#theme-change, #theme-change option {
  background-color: inherit;
  color: inherit;
}

/*night theme*/
.night-theme {
  background: black;
  color: white;
}

.bauhaus-theme {
  background: maroon;
  color: lightslategray;
}

@media(min-width: 700px) {
  .writing-area inner-column {
    display: flex;
    outline: 10px solid lime;
  }
  .welcome inner-column {
    display: flex;
    flex-direction: row;
  }
  .dev-credentials {
    margin-top: unset;
  }
  .welcome h2:first-of-type {
    writing-mode: vertical-rl;
  }
  .role {
    transform: rotate(90deg) translate(-70px, 30px);
  }
  :is(
    .welcome inner-column, 
    .homepage header inner-column, 
    .dev-article aside inner-column
  ) {
    /*max-width: 900px;*/
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
  }
}

@media(min-width: 900px) {
  .green-rect {
    fill: rgba(219,25,0, .7);
    transform:  rotate(-20deg) translate(0px, 10px);
  }
}

footer nav.site-menu {
  margin-top: 30px;
}



