/* themes */
* {
/*  display: none;*/
}

#toggle-themes {
  margin-top: 20px;
}

.hide-themes {
  display: none;
}

.selected-theme {
  border: 3px solid rebeccapurple;
}

/*dark mode*/
html.dark-theme {
  color: var(--accent-color);

  background: var(--background-color);

  a:link {
    color: var(--lighter-gray);
  }

  a:visited {
    color: var(--light-gray);
  }

  a:hover {
    color: var(--accent-color);
  }

  a:active {
    color: rgba(175,41,18,255, .3);
  }
}

:is(html.dark-theme a) {
/*  color: inherit;*/
  color: linen;
}

html.dark-theme img {
  filter: brightness(.8) contrast(1.2);
}

/*links*/


/*@media (prefers-color-scheme: dark) {
  html {
    color: var(--accent-color);

    background: var(--background-color);

    a:link {
      color: var(--brown-color);
    }

    a:visited {
      color: var(--light-gray);
    }

    a:hover {
      color: var(--accent-color);
    }

    a:active {
    }
    body h1, h2 {

    }
    .right-arrow {
    }
    a {
      color: inherit;
    }
    a:visited {

    }
    .dev-credentials {
      border-left:  8px solid white;
      padding: 10px;
    }
  }
}

@media (prefers-color-scheme: light) {
  html {
    background: white;
    color: black;
  }
}*/

:root {
    --background-color: #333;
    --text-color: #fff;
}

/* Light theme (as an example) */
/*[data-theme="light"] {
    --background-color: #fff;
    --text-color: #000;
}*/

/* Use variables in your CSS */
/*body {
    background-color: var(--background-color);
    color: var(--text-color);
}*/

/*
@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --background-color: lime;
        --text-color: ;
    }

    [data-theme="light"] {
        --background-color: #fff;
        --text-color: #000;
    }
}*/