/* themes */
* {
/*  display: none;*/
}

#toggle-themes {
  margin-top: 20px;
}

.hide-themes {
  display: none;
}

.selected-theme {
  border: 3px solid rebeccapurple;
}

/*dark mode*/
:is(html.dark-theme a) {
/*  color: inherit;*/
  color: linen;
}

html.dark-theme img {
  filter: brightness(.8) contrast(1.2);
}

/*links*/
html {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  html {
    color: var(--accent-color);
    background: var(--background-color);
  }

}


@media (prefers-color-scheme: light) {
  body {
    * {
      color: initial;
      background: initial;
    }
  }
}


html[data-theme="dark-theme"] {
  color: var(--accent-color);
  background: var(--background-color);
}

html[data-theme="light-theme"] {
  background-color: initial;
  color: initial;
}