@font-face {
  font-family: "zen kaku";
  src: url("../fonts/Zen_Kaku_Gn/ZenKakuGothicNew-Black.ttf") format("truetype");
}

@font-face {
  font-family: "noto serif";
  src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
}

:is(h1, h2, h3, h4) {
  font-family: 'zen kaku', sans-serif;
  line-height: 1;
}

:is(h1, h2) {
	line-height: 1.3;
}

h1 {
	font-size: clamp(2.5em, 5vw, 6em);
}

h2 {
  font-size: clamp(1.5em, 3vw, 3em);
}

mark {
  display: inline-block;
  padding: 2px;
}

/*links*/
a {
  text-decoration: underline;
}

a:link {
/*  color: red;*/
  color: var(--moon-blue);
}

a:visited {
  color: purple;
}

a:hover {
/*  background: var(--accent-color);*/
  color: var(--brown-color);
}

a:active {
  color: var(--moon-blue);
}

p {
  max-width: 55ch;
}

/*homepage*/
.greet {
  font-family:  "zen kaku", sans-serif;
  display: block;
  font-size: 5em;
}

.dev-credentials {
  border-left:  8px solid var(--brown-color);
  padding: 10px;
}

.blog-list li {
  border-bottom: 4px solid black;
}

.link {
  display: inline-block;
  padding-right: .5em;
}

/*put extenal link signifer for all external links*/
a[target="_blank"]:after {
  content: "\2197";
}

.job-role { 
  display: inline-block;
  text-transform: capitalize;
}


body.experimental-body a:link {
  /*color:  lightgray;*/
}

body.experimental-body a:visited {
  /*color:  linen;*/
}

body.experimental-body a:hover {
  color:  orange;
}

body.experimental-body a:active {
  color:  wheat;
}

.right-arrow {
  display: none;
  max-width: 200px;
  transform: rotate(31deg);
}

a[target='_blank']::after {
  content: '\21D7';
}

.dev-credentails h2:first-of-type, .cool-celestial-shapes h1 {
  font-size: clamp(2.5em, 3vw, 5em);
}

.credentials h1 {
  font-family: 'zen kaku', sans-serif;
  font-size: clamp(1.8em, 4vw, 4em);
}

.dev-credentials h2 {
  margin-top: 10px;
}

.dev-credentials p abbr {
  text-transform: uppercase;
}

em {
  font-weight: bold;
}

span.job {
/*  display:block;*/
  font-size: clamp(1.2em, 2vw, 6em);
  transform: translate(2px, 0px);
  line-height: 1.3;
  min-width: 70%;
  margin-left: 10px;
}

.role {
  display: block;
  transform: translate(40px, 10px);
  max-width: 200px;
}

.interest-list {
  writing-mode: vertical-rl;
  display: flex;
  justify-content: flex-start;
  transform:  translate(-20px, 0px);
}

.interest-list li {
  margin: 10px;
}

.dev-main h1, .writing-area h2 {
  display: none;
}

.design-title {
  font-size:  2em;
}

p, a, ul, details,
.job, figcaption {
  font-family: 'noto serif', serif;
}

.dev-credentials {
  margin-top: 30px;
  max-width: 450px;
}

aside ul li, h2 + p {
  margin-top: 10px;
}

aside ul li:first-of-type {
  margin-top: 15px;
}

p + p {
  margin-top: 20px;
}

.exercise-list {
  margin-left: 15px;
}

.purpose {
  margin-top: 10px;
}

.author-welcome .credentials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

@media (min-width: 600px) {
  .author-welcome .credentials {
    max-width: 450px;
  }
}

/*style guide*/
letters.upper-case {
  display: block;
  text-transform: uppercase;
  margin-top: 5px;
}

.font-flag {
/*  background: black;*/
/*  color:  gold;*/
  max-width: 90px;
/*  padding-left: 10px;*/
}

letters + p, .font-flag {
  margin-top: 20px;
}

.site-pages {
  margin-left: 20px;
  margin-top: 10px;
}

strong {
  font-weight: bolder;
}

.lfps strong {
  font-size: 1.3em;
}

.welcome h2 {
  font-size: 3em;
  line-height: 1;
}

.noto-font {
  font-family: "noto serif", serif;
}

.zen-kaku-font {
  font-family: "zen kaku", sans-serif;
}

/*contact page*/
.client-reasons {
  margin-left: 10px;
/*lis*/
list-style: circle;
}

.client-reasons li::before {

}

/*resume*/
.beta-experience {
  display: block;
  margin-left: 20px;
}

.resume-list li ul {
  list-style: circle;
}



/* sitemap */
.site-map-list {
  margin-top: 20px;
}

.site-map-list li h2 {
  margin-top: 40px;
}


celestial-shapes {
  align-self: start;

  position: relative;
  bottom: 32px;
}



@media (min-width: 600px) {
  .credentials {
    min-height: 150px;
  }
  .credentials, .dev-badge {
    display: flex;
    flex-direction: row;
  }
  .dev-badge {
    min-height: 100px;
  }
  .job {
    position: relative;
    top: 25px;
    right: 40px;
    
    align-self: end;

  }
  .right-arrow {
    display: block;
    position: relative;
  }
  .right-arrow {
    position: relative;
    top: 15px;
  }
}
