
/*default theme*/
/*.light-mode {
  background: linen;
  color: black;
}*/


/* should this be in forms.css ?  */
/*:is(#theme-changer-form input, #theme-changer-form label ) {
  display: block;
}

#theme-changer-form input + label, #theme-changer-form button {
  margin-top: 20px;
}*/


/* themes */
.hide-themes {
  display: none;
}

.selected-theme {
  border: 3px solid rebeccapurple;
}




