/* garden */
architect-poster {
  display: block;
  
  line-height: 1.2;
  padding: 10px;
  padding-bottom: 20vh;
  
  /* type */
  h2 {
    font-size: clamp(1.5em, 3vw, 4em);
    font-family: sans-serif;
    max-width: 35ch;
  }

  p {
    margin-top: 5px;
  }

  p + p {
    margin-top: 10px;
  }

  h2 + p {
    margin-top: 20px;
  }

  :is(.ap-location, .architect-name) {
    display: inline-block;
  }

  .ap-figure {
    figcaption {
      margin-top: 5px;
    }
  }

  .ap-header {
    background: rgba(240, 234, 214, .1);
  }

  .ap-quote, .ap-first-cite {
    margin-top: 10px;
  }

  .interior-design-list li, architect-poster section + section {
    margin-top: 20px;
  }

  figcaption {
    max-width: 30ch;
  }

  .ap-quote {
    q {
      font-size: clamp(1em, 2vw, 4em);
      max-width: 45ch;
    }
    q::before {
      content: "\201C";
    }
    q::after {
      content: "\201D";
    }
  }

  .ap-cite {
    display: block;
  }

  .ap-first-cite {

  }
  
  .ap-interior {
    margin-top: 50px;
  }

  /* media */
  .bergen-photo {
    background: url("https://peprojects.dev/images/portrait.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 2;
    margin-top: 10px;
  }
}



@media (min-width: 600px) {
  architect-poster {
    p {
      max-width: 60ch;
    }
    :is(
      .ap-welcome, 
      .interior-design-list, 
      .ap-quote
    ) {
      display: flex;
      flex-direction: row;
      gap: 2%;
    }
    .ap-quote {
      justify-content: space-between;

      max-width: unset;
    }
    .ap-header {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 20px;
    }
    .ap-header {
    /*     align-self: end; */
    /*     padding: 30px; */
    }
    .bergen-photo {
      flex-shrink: 2;
      flex-basis: 100%;
  /*     min-height: 100vh; */
      margin-top: unset;
    }
    .ap-quote {
      margin-top: 50px;
    }
  }
}