* {
	/*outline:  3px solid gray;*/
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

header ul {
  list-style: none;
}

/*links*/
a {
	text-decoration: none;
}


/*custom elements*/
picture, inner-column, shapes, 
card, project-card {
	display: block;
}

/*media*/
picture img {
	display: block;
	height: auto;
	width: 100%;
}

/*sticky footer*/
body {
  display: flex;
  flex-direction: column;
}


main {
  min-height: 100vh;
  flex-grow: 1;
}

