@import "reset.css";
@import "colors.css";
@import "setup.css";
@import "typography.css";



body {
  padding-bottom:  20vh;
}

.writing-body {
  padding-bottom: 40vh;
}

.greet {
  display: block;
  font-size: 5em;
}

.dev-credentials {
  border-left:  20px solid black;
  padding: 10px;
}

/*page bodys*/

body.homepage, body.experimental-body {
  background:  linen;
}

body.writing-body {
  /*background: linen;*/
}

inner-column {
	padding: 10px;
  margin-right: auto;
  margin-left: auto;
  line-height: 2;
  letter-spacing: 0.03em;
}

.project-gallery inner-column {
  max-width: 950px;
}

.project-list {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 5%;
  list-style: none;
}

project-card picture {
  /*max-width: 20vw;*/
  /*max-width: 300px;*/
}

/*.cool-shapes inner-column {
  margin-right: auto;
  margin-left: auto;
  line-height: 2;
  max-width: 900px;
}*/

inner-column  {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  line-height: 2;
  /*max-width: 600px;*/
  padding: 10px;
}

/*.writing-body inner-column, .writing-body header inner-column {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  line-height: 2;
}
*/
.blog-list {
  align-self: flex-end;
}



.welcome h2:first-of-type {
  /*writing-mode: vertical-rl;*/
  /*transform: rotate(180deg)translate(0px, -50px);*/
  /*transform: rotate(180deg)translate(40px, 0px);*/
}

/*SVGs*/
header .right-arrow {
  max-width: 145px;
}

.construction {
  max-width: 400px;
  margin-top: 10px;
}

.logo {
  max-width:  50px;
  margin:  5px;
}

.green-rect {
  position: absolute;
  top: 350px;
  z-index:  -1;
  fill:  rgba(0,100,0, .5);
}

.chips-and-guac {
  max-width: 230px;
  margin-left: 5%;
}

.lollypop {
  max-width: 600px;
  width: 20vw;
}

.shy-sun {
  max-width: 600px;
  margin-right: 10px;
}



/*colors*/
.color-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.color-list li {
  flex-basis: 100px;
  min-height: 100px;
  min-width: 30px;
  max-width: 100px;
  margin-top: 5px;
  margin-right:  10px;
}

li ul {
  margin-left:  40px;
}

.color-list li:first-of-type {
  background: var(--lolly-pop);
}

.color-list :nth-child(2) {
  background: var(--accent-color);
}

.color-list :nth-child(3) {
  background: var(--body-color);
}

.color-list :nth-child(4) {
  background: var(--guac-color);
}

.color-list :last-of-type {
  background: var(--line-color);
}



@media(min-width: 700px) {
  .writing-area inner-column {
    display: flex;
    /*justify-content: space-between;*/
  }
  .welcome inner-column {
    display: flex;
    justify-content: space-between;
  }
  .welcome h2:first-of-type {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  .chips-and-guac {
    position: absolute;
    top: 550px;
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 345px;*/
    left:  60vw;
    z-index: -1;
  }
  .lollypop {
    align-self: flex-end;
  }
  /*.blog-list {
    position: absolute;
    min-width: 550px;
    top:  620px;
    transform: rotate(-20deg);
    right: 10%;
    flex-basis: 500px;
  }*/
  .role {
    transform: rotate(90deg) translate(-70px, 30px);
  }
  .welcome inner-column, .homepage header inner-column, .dev-article aside inner-column {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    line-height: 2;
    padding: 10px;
  }
  .ments {
    font-size:  clamp(.5em, 3vw, 1em);
    display: inline-block;
    /*position: absolute;*/
    /*right:  100px;*/
    transform:  rotate(90deg);
    /*top:  120px;*/
  }
  .experiments-title {
    margin-top: 40px;
  }
   .visual-design inner-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(min-width: 900px) {
  .green-rect {
    fill: rgba(219,25,0, .7);
    transform:  rotate(-20deg) translate(0px, 10px);
  }
}



