@import "reset.css";
@import "colors.css";
@import "setup.css";
@import "typography.css";
@import "../components/css/style.css";
@import "../pages/css/style.css";

body {
  padding-bottom:  20vh;
}


/*page bodys*/
body.homepage, body.experimental-body {
  background:  linen;
}

body.writing-body {
  /*background: linen;*/
}

inner-column  {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  line-height: 2;
  /*max-width: 600px;*/
  padding: 10px;
  letter-spacing: 0.03em;
}

.blog-list {
  align-self: flex-end;
}

.welcome {
  margin-top: 30px;
}

.welcome h2:first-of-type {
  /*writing-mode: vertical-rl;*/
  /*transform: rotate(180deg)translate(0px, -50px);*/
  /*transform: rotate(180deg)translate(40px, 0px);*/
}

/*SVGs*/
.construction {
  max-width: 400px;
  margin-top: 10px;
}

.logo {
  max-width:  50px;
  margin:  5px;
}

.green-rect {
  position: absolute;
  top: 350px;
  z-index:  -1;
  fill:  rgba(0,100,0, .5);
}

.chips-and-guac {
  max-width: 230px;
  margin-left: 5%;
}

.lollypop {
  max-width: 600px;
  width: 20vw;
}

.shy-sun {
  max-width: 600px;
  margin-right: 10px;
}

.experimental-svg {
  width: 30vw;
  max-width: 800px;
  margin-top: 40px;
}


/*colors*/
.color-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.color-list li {
  flex-basis: 100px;
  min-height: 100px;
  min-width: 30px;
  max-width: 100px;
  margin-top: 5px;
  margin-right:  10px;
}

li ul {
  margin-left:  40px;
}

.color-list li:first-of-type {
  background: var(--lolly-pop);
}

.color-list :nth-child(2) {
  background: var(--accent-color);
}

.color-list :nth-child(3) {
  background: var(--body-color);
}

.color-list :nth-child(4) {
  background: var(--guac-color);
}

.color-list :last-of-type {
  background: var(--line-color);
}

@media(min-width: 700px) {
  .writing-area inner-column {
    display: flex;
    /*justify-content: space-between;*/
  }
  .welcome inner-column {
    display: flex;
    justify-content: space-between;
  }
  .welcome h2:first-of-type {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  .chips-and-guac {
    position: absolute;
    top: 550px;
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 345px;*/
    left:  60vw;
    z-index: -1;
  }
  .lollypop {
    align-self: flex-end;
  }
  /*.blog-list {
    position: absolute;
    min-width: 550px;
    top:  620px;
    transform: rotate(-20deg);
    right: 10%;
    flex-basis: 500px;
  }*/
  .role {
    transform: rotate(90deg) translate(-70px, 30px);
  }
  .welcome inner-column, .homepage header inner-column, 
  .dev-article aside inner-column {
    /*max-width: 900px;*/
    margin-right: auto;
    margin-left: auto;
    line-height: 2;
    padding: 10px;
  }
  .ments {
    font-size:  clamp(.5em, 3vw, 1em);
    display: inline-block;
    /*position: absolute;*/
    /*right:  100px;*/
    transform:  rotate(90deg);
    /*top:  120px;*/
  }
  .experiments-title {
    margin-top: 40px;
  }
  .projects-svg {
    margin-left: 30px;
    margin-top: 120px;
  }
}

@media(min-width: 900px) {
  .green-rect {
    fill: rgba(219,25,0, .7);
    transform:  rotate(-20deg) translate(0px, 10px);
  }
}



